.lead{
  background-color:tomato;
  color:white;
}
html,body {
  width: 100%;
  height: 100%;
}
#myMap {
  flex: 1;
  height: 100%;
}
.row {
  display: flex; /* equal height of the children */
}
.col {
  flex: 1; /* additionally, equal width */
  padding: 1em;
}
.tablec{
  max-height:40%;
  overflow-y:auto;
}
