<!DOCTYPE html>
<html lang="en">
<head>
  <title>EMA Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand font-weight-bold" href="#">Welcome to Combat Covid EMA</a>
      </div>
      <div class="collapse navbar-collapse " id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="#">Login</a></li>
        </ul>
      </div>
    </div>
  </nav>
  {% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
  {% endwith %}
  <div>
    <form action="/ema_login" method="POST">
      <input type="text" name="phone_number" placeholder="Phone Number"></input><br>
      <input type="password" name="password" placeholder="Password"></input><br>
      <input type="submit"></input>
    </form>
  </div>
</body>
</html>
