<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generic combat covid dashboard</title>
<style>
    @import url('../static/css/base.css');
    @import url('../static/css/basic-grid.css');

</style>
</head>
<navbar>
    <div class="basic-grid">
    {{session['ema_role']}} {{session['phone_number']}}

    </div>
</navbar>
<body>
    <div class="basic-grid">
        <div class = 'card card-tall-2'>
          <ul id="users_under">
          </ul>
          {{json.loads(dumps(User_Data.find({'mo_phone_number':session['phone_number']})))}}




        </div>



        <div class = 'card card-tall-2 flex'>


            <div class="">
               1



            </div>


            <div class="">2</div>





        </div>
        <div class = 'card card-tall-2'>ALERTS</div>

    </div>
</body>
<footer>
    <div class="basic-grid">

        footer

    </div>
</footer>
</html>
