<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generic combat covid dashboard</title>
<style>
    @import url('../static/css/base.css');
    @import url('../static/css/basic-grid.css');

</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<navbar>
    <div class="basic-grid" id="headerboard" data-phno="{{session['phone_number']}}">
    {{session['ema_role']}} {{session['phone_number']}}
    <ul class="">
      <li class="active"><a href="#">Dashboard</a></li>
      <li class=""><a href="/ema_add_new_user_page">Add New User</a></li>
      <li><a href="/ema_logout">Logout</a></li>
    </ul>
    </div>
</navbar>
<body>
    <div class="basic-grid">
        <div class = 'card card-tall-2'>
          QMA Users:
          <div id="dataaa">
             <ul id="userDataList">
             </ul>
          </div>
        </div>

        <div class = 'card card-tall-2 flex'>

        </div>

        <div class = 'card card-tall-2'>

        </div>

    </div>
</body>
  <script src="{{url_for('static', filename='js/mo_dashboard_new.js')}}"></script>
<footer>
    <div class="basic-grid">

        footer

    </div>
</footer>
</html>
