<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand font-weight-bold" href="#">EMA PHC Dashboard </a>
    </div>
    <div class="collapse navbar-collapse " id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">Dashboard</a></li>
        <li class=""><a href="/ema_add_new_user_page">Add New User</a></li>
        <li><a href="/ema_logout">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="row">
       <div class="col-sm-3 section">
            <h2>REQUESTS</h2>
              <div class="row">
                //List of requests from CMA //
              </div>
     </div>
     <div class="col-sm-6 section">
       <div class="row row-no-gutters">
               <div class="col-sm-2" >
                 <h1>31</h1>
                 <p>Citizens </p1>
               </div>
               <div class="col-sm-2" >
                 <h1>21</h1>
                 <p>Unregistered</p1>
               </div>
               <div class="col-sm-2" >
                 <h1>11</h1>
                  <p>Registered</p1>
               </div>
        </div>
    <div class="row row-no-gutters">
           <a href="mo_calender.html"><div class="col-sm-3 section">Calender</div></a>
           <a href="mo_qcs.html"><div class="col-sm-3 section">Citizens under me</div></a>
    </div>
 </div>
 <div class="col-sm-3 section">
   <h2>ALERTS</h2>
     <div class="row">
       //List of alerts from QMA //
     </div>
 </div>
</div>

</body>
</html>
